@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ------------------------------------------------------------- */
/*Body*/

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;

  background-color: rgba(221, 221, 221, 0.4);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* ---------------------------------------------------------------------------------- */
/* General */
.uppercase {
  text-transform: uppercase;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.title-section {
  margin-bottom: 20px;
}

.norm-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

.mrgn-0 {
  margin: 0;
}

.mrgn-bot-15 {
  margin-bottom: 15px;
}

.mrgn-top-20 {
  margin-top: 20px;
}

section {
  padding: 100px 0;
}

.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  font-weight: 900;
  text-transform: capitalize;
}

.color-red {
  color: #e02217;
}
.color-white {
  color: white;
}

.back-white {
  background: #fff;
}

p {
  font-size: 14px;
  font-weight: 400;

  line-height: 1.7;
  letter-spacing: 0.5px;
}

.bolt {
  font-weight: bold;
}

/* ------------------------------------------------------------- */
/* Container */

.container {
  width: 100%;
  max-width: 1140px;

  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

/* -------------------------------  HEADER ------------------------------- */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 3;
}

.header__body {
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.header__burger {
  display: none;
}

.header__menu {
}

.header__list {
  display: flex;
  position: relative;
  z-index: 3;
}
.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  transition: opacity 0.3s linear;
}

.header__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0;

  background-color: #e02217;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}

.header__link:hover {
  color: #e02217;
}

.header__link:hover:after {
  opacity: 1;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    transition: all 0.3s ease 0s;

    background-color: #111;
    padding: 70px 10px 20px 0;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin-bottom: 20px;
  }
}

/* ------------------------------------------------------------- */
/* Intro */

.intro {
  position: relative;
  width: 100%;
  height: 100vh;

  background: url(../images/main_bg_2.jpg) center no-repeat;
  background-size: cover;
}

.intro:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;

  top: 0;
  background-color: rgba(9, 9, 9, 0.6);
}

@media (max-width: 992px) {
  .intro {
    height: 100%;
    padding-bottom: 50px;
  }
  .intro:before {
    height: 100%;
  }
}

/* ----------------------------------------------------------------------------------- */
/* ABOUT */

.row-1 {
  width: 90%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .row-1 {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 80px;
  }
}

.prof-col-1 {
  position: relative;
  width: 35%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
}

@media (max-width: 992px) {
  .prof-col-1 {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.prof-col-2 {
  position: relative;
  width: 65%;
}

@media (max-width: 992px) {
  .prof-col-2 {
    width: 90%;
    margin: 0 auto;
  }
}

.profile-img {
  position: relative;
  width: 80%;
  z-index: 1;

  margin: 30px;
  margin: 0 auto;
}

.profile-img:after {
  content: "";
  left: 25px;
  top: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid #000;

  z-index: -1;
}

.img-fluid {
  max-width: 100%;
}

/* ---------- */

.strong-p {
  font-size: 16px;
  font-weight: 550;
}

/* ------------------------------------------------------------- */
/* Button */
.btn-position {
  display: flex;
  /* flex-direction: row; */
  gap: 50px;

  margin-top: 50px;
}

@media (max-width: 500px) {
  .btn-position {
    display: block;
    text-align: center;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 190px;
  height: 42px;

  font-size: 14px;

  border-radius: 6px;
  background-color: #e02217;
  color: #ffffff;

  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

@media (max-width: 500px) {
  .btn {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.btn:hover {
  background: #ffffff;
  color: #212529;
  box-shadow: 0 0 20px rgb(9 9 9 / 10%);
}

.icon {
  margin-right: 10px;
}

/* ------------------------------------------------------------- */
/* Experience */

.back-color-fff {
  background-color: #ffffff;
}

.exp1-position {
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;

  padding-left: 15px;
  padding-right: 15px;
}

.exp {
  width: 50%;
  margin-right: 50px;
}

.exper {
  max-width: 700px;
  margin: 0 auto;
}

.educ {
  width: 50%;
}

.resume-items {
  padding-left: 20px;
  border-left: 1px solid #e02217;
}

.item {
  position: relative;

  margin-bottom: 20px;
}

.separator {
  display: inline-block;
  width: 10px;
  background: #555;
  height: 2px;
  margin: 0 7px 3px 7px;
  vertical-align: middle;
}

.bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  position: absolute;
  left: -28px;
  background: #fff;
  top: 0;

  border: 2px solid #e02217;
}

.year {
  margin-bottom: 10px;
}

/* ------------------------------------------------------------- */
/* Skills */

.title-separator {
  position: relative;
  display: inline-block;
  width: 50px;
  background: #e02217;
  height: 3px;
  margin: 0 7px 3px 7px;
  vertical-align: middle;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  position: relative;
  width: 275px;

  padding-right: 15px;
  padding-left: 15px;
}

.skill {
  width: 235px;
  /* height: 225px; */
  padding: 20px 15px;

  display: flex;
  justify-content: center;

  border-radius: 6px;

  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 0 20px rgb(9 9 9 / 10%);
  margin: 15px auto;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.skill-link {
  text-decoration: none;
  color: #212529;
}

.skill-img {
  height: 28px;
  margin-right: 10px;
}

/* Animation */
.scale {
  transition: 1s; /* Время эффекта */
}

.scale:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}

/* ------------------------------------------------------------- */
/* Projects */

.projects {
  color: #333333;
}

.projects-position {
  margin-bottom: 20px;
  padding: 30px;
  margin-bottom: 20px;

  border-radius: 6px;
  box-shadow: 0 0 20px rgb(9 9 9 / 10%);
  background-color: #ffffff;
}

.responsibilities {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .responsibilities {
    width: 100%;
    margin: 0 auto;
  }
}

.project-column {
  position: relative;
  margin-right: 10px;
  margin-bottom: 0px;
  padding: 0;
}

.project-item {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.6);

  border-radius: 6px;

  box-shadow: 0 0 20px rgb(9 9 9 / 10%);
  margin: 5px;
}

.resp-row {
  display: flex;
}

@media (max-width: 992px) {
  .resp-row {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.asd {
  font-size: 14px;
}

/* __________________________________________________________________________________ */

.position {
  position: absolute;
  width: 100%;
  max-width: 1140px;
  height: 600px;

  left: 50%;
  transform: translateX(-50%);

  border: 4px solid black;

  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;

  margin-top: 60px;
  padding: 20px;
}

.box1 {
  top: 10px;

  width: 400px;
  height: 400px;

  background: lightcoral;
}

.box2 {
  top: 200px;

  width: 600px;
  height: 400px;

  background: lightgreen;
}

.box3 {
  width: 280px;
  height: 180px;
  padding: 15px;

  background: white;
  box-shadow: 0 0 10px -3px #2e3d42;
}

/* ______________________________________________________________________________ */

/* ------------------------------------------------- */
/* Contacts */
.contact {
  position: relative;
  width: 100%;
  margin: 0 auto;

  background: url(../images/footer_bg_1.jpg) center no-repeat;
  background-size: cover;
}

.contact:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  background-color: rgba(9, 9, 9, 0.6);
}

.cont-column {
  position: relative;
  margin-right: 10px;
}

.cont-btn {
  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

.cont-item {
  padding: 10px 20px;
  background-color: rgba(5, 5, 5, 0.3);
  color: #ffffff;
  border-radius: 6px;

  box-shadow: 0 0 20px rgb(9 9 9 / 10%);
  margin: 15px auto;

  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

.cont-item:hover {
  background: #e02217;
  color: #ffffff;
  box-shadow: 0 0 20px rgb(9 9 9 / 10%);
}

.mrgn-l-r {
  margin-left: 5px;
  margin-right: 10px;
}

.text-white {
  position: relative;
  color: #ffffff;
}

.social-column {
  position: relative;
  margin-right: 20px;
}

/* ======================== */
